#
# Project
#
SDK_BUILD_PROJECT="PLXNASAPPS"
SDK_BUILD_VERSION="1.0.0"
#
# Platform relevant
#
# [7820|7821|7825_SINGLE|7825_RAID]
SDK_TARGET_PLATFORM="7821"
SDK_TARGET_ARCH="arm"
SDK_TARGET_MARCH="armv6"
SDK_TARGET_MTUNE="mpcorenovfp"

# NAND Specification
# NAND size in MB, others in Byte
SDK_TARGET_NAND_SIZE=128
SDK_TARGET_NAND_PEBSIZE=131072
SDK_TARGET_NAND_MINIOSIZE=2048
SDK_TARGET_NAND_SUBPAGE=512

# Build Options
SDK_LINUX_VERSION="2.6.31"
SDK_BUILD_DEBUG=y
# Booting NAND Options
SDK_BUILD_NAND_BOOT=y
SDK_BUILD_NAND_STAGE1_BLOCK=0
SDK_BUILD_NAND_STAGE1_BLOCK2=1
SDK_BUILD_NAND_STAGE2_BLOCK=2
SDK_BUILD_NAND_STAGE2_BLOCK2=18
SDK_BUILD_NAND_KERNEL_BLOCK=34
SDK_BUILD_NAND_KERNEL_BLOCK2=82
#
# Toolchain
#
SDK_TOOLCHAIN_PATH="/opt/crosstool/OXNAS820/gcc-4.2.4-glibc-2.7-toolchain"
SDK_TOOLCHAIN_PREFIX="arm-linux"
#
# C Libraries - GNU C Library
#
SDK_LIBC="libc.so.6"
SDK_EXTERNAL_LIBS="ld-linux.so.3 libcrypt.so.1 libdl.so.2 libgcc_s.so libm.so.6 libnsl.so.1 libpthread.so.0 libresolv.so.2 librt.so.1 libutil.so.1 libnss_compat.so.2 libnss_dns.so.2 libnss_files.so.2 libnss_hesiod.so.2 libnss_nisplus.so.2 libnss_nis.so.2"
#
# Root File System
#

#
# Applications
#
SDK_ROOTFS_MTD_UTILS=y

# Minimum needed for the basic system
SDK_ROOTFS_APPS_BUSYBOX=y
SDK_ROOTFS_APPS_BASH=y
SDK_ROOTFS_APPS_BZIP2=y
SDK_ROOTFS_APPS_COREUTILS=y
SDK_ROOTFS_APPS_GAWK=y
SDK_ROOTFS_APPS_GREP=y
SDK_ROOTFS_APPS_SED=y
SDK_ROOTFS_APPS_TAR=y

